.btn-blue {
  background-color: #132074 !important; /* !important = sirve para forzar y no usar los de bootstrap */
  color: white !important;              
  border: none !important;              
  border-radius: 12px !important;       
  padding: 0.5rem 1rem !important;      
  cursor: pointer !important;           
  font-weight: 500 !important;          
}

.btn-blue:hover {
  background-color: #0f1a5c !important; /* hover más oscuro */
  color: white !important;
}
