/* Mantener solo esto: */
.titulo-reintegros {
  font-weight: 700;
  font-size: 1.5rem;
  color: #132074;
  text-transform: uppercase;
}

.miBotonReceta {
  background-color: #132074;
  border: none;
  padding: 12px 24px;
  font-size: 1.2rem;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  transition: background-color 0.3s;
}

.miBotonReceta:hover {
  background-color: #2b47b9;
}