nav {
  background-color: #fff;
  border: 2px solid #132074;
  border-radius: 12px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 55px 0 30px 15px;
  height: 95vh;
  padding: 9px 0 0 0;
  position: sticky;
  top: 15px;
}

nav a {
  text-decoration: none;
  color: #132074;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

nav a img {
  width: 47px;
  height: 47px;
}

nav a p {
  padding: 5px;
  font-size: 12px;
  color: #132074;
}
